@import "./variables.scss";

.nav-bar {
  position: relative;
  width: 100%;
  padding: .35rem 2rem .5rem 2rem;
  border-bottom: 1px solid $lightGrey;
  background: white;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);

  .is-active {
    color: $lightBlack;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  font-family: 'Noto Serif SC', serif;
  font-weight: 900;
  margin-right: 2.3rem;

  &:hover {
    color: $lightBlack;
  }
}

.nav-side {
  display: flex;
  align-items: baseline;
}

.nav-item {
  font-size: .9rem;
  margin-right: .9rem;
  color: $grey;
  transition: color .2s ease-in;

  &:hover {
    color: $lightBlack;
  }
}


.nav-item-link {


}

/* ----- RESPONSIVE -----*/

// @media screen and (max-width: 399px) {
  // .wrapper.home-wrapper{
  //   width:90%;
  //   // background: tomato;
  // }
  // .grid-articles {
  //   grid-column-gap: 1rem;
  //   grid-row-gap: 1rem;
  // }
  // .grid-articles {
  //   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  // }

  // .page-title-container {
  //   .page-title {
  //     width: 95%;
  //   }
  // }

  // .header-title-container {
  //   color: green;
  //   z-index: 1;
  //   width: 100%;
  //   .header-over-title {
  //     // font-size: .9rem;
  //     // text-transform: uppercase;
  //     // font-size: .7rem;
  //     // margin-left: .2rem;
  //     // color: $green;
  //   }
  //   .header-title {
  //     // z-index: 1;
  //     // color: $grey;
  //     font-size: 2.3rem;
  //     // font-weight: 100;
  //     // margin-bottom: .6rem;
  //   }
  // }

// }

@media screen and (min-width: 767px) and (max-width: 400px) {
.nav-bar {
  padding: .2rem 1rem .2rem 1rem;
}
}

@media screen and (min-width: 768px) and (max-width: 959px) {
.nav-bar {
  padding: .2rem 1rem .2rem 1rem;
}
}

@media screen and (min-width: 960px){
}